/* css styles */


.navbar {
    background-color: #ffc005;  /* bg color */
}

.navbar a, .navbar .navbar-brand {
    color: #000000;  /* text color */
}

.navbar a:hover, .navbar .navbar-brand:hover {
    color: #66ccff;  /* hover color */
}

.navbar-title {
    font-weight: bold;
}

.navbar-text {
    font-weight: bold;
}


body {
    background-color: #f0f0f0;  /* main page bg */
}
