/* css styles */

.navbar {
    background-color: #397dc9;  /* Replace with your desired background color */
}

.navbar a, .navbar .navbar-brand {
    color: #ffffff;  /* Replace with your desired text color */
}

.navbar a:hover, .navbar .navbar-brand:hover {
    color: #66ccff;  /* Replace with your desired hover text color */
}



body {
    background-color: #f0f0f0;  /* Light grey background */
}
