
/* ==========================
   High Contrast Mode Styles
   ========================== */
   [data-theme="high-contrast"] {
    color: #ffff00; /* Bright yellow for text */
}

[data-theme="high-contrast"] .navbar {
    color: #ffff00; /* Bright yellow text for navbar */
    border-bottom: 2px solid #ffff00; /* Add a yellow border for emphasis */
}

[data-theme="high-contrast"] .navbar-title {
    color: #ffff00 !important; /* Bright yellow for the title */
}

[data-theme="high-contrast"] .navbar a {
    color: #ffff00 !important; /* Bright yellow for links */
    text-decoration: underline; /* Underline links for better visibility */
}

[data-theme="high-contrast"] .navbar a:hover {
    color: #ffffff !important; /* White text on hover */
    background-color: #ffff00; /* Yellow background on hover */
    text-decoration: none; /* Remove underline on hover */
}

[data-theme="high-contrast"] .button {
    color: #ffff00;
    border: 2px solid #ffff00; /* Add a border for better visibility */
}

[data-theme="high-contrast"] .button:hover {
    background-color: #ffff00;
    color: #000000;
}

[data-theme="high-contrast"] .button-yellow {
    background-color: #ffff00;
    color: #000000;
}

[data-theme="high-contrast"] .button-yellow:hover {
    color: #ffff00;
}

[data-theme="high-contrast"] a {
    color: #ffff00;
    text-decoration: underline;
}

[data-theme="high-contrast"] a:hover {
    color: #ffffff;
}

/* ==========================
   High Contrast Light Mode Styles
   ========================== */
[data-theme="light-high-contrast"] {
    background-color: #ffffff;
}

[data-theme="light-high-contrast"] h1, h2, h3, h4, h5, h6, p, li, ul{
    color: #000000;
}

[data-theme="light-high-contrast"] .navbar {
    background-color: #057c3e;
    color: #ffff00;
    border-bottom: 2px solid #ffff00;
}


[data-theme="light-high-contrast"] .info-section, .info-section-reverse {
    background-color: #ffffff;
}

/* ==========================
   High Contrast Dark Mode Styles
   ========================== */
[data-theme="dark-high-contrast"] {
    background-color: #000000;
    color: #ffff00;
}

[data-theme="dark-high-contrast"] .navbar {
    background-color: #000000;
    color: #ffff00;
    border-bottom: 2px solid #ffff00;
}

/* High Contrast Buttons */
[data-theme="light-high-contrast"] .button,
[data-theme="dark-high-contrast"] .button {
    background-color: #000000;
    color: #ffff00;
    border: 2px solid #ffff00;
}

[data-theme="light-high-contrast"] .button:hover,
[data-theme="dark-high-contrast"] .button:hover {
    background-color: #ffff00;
    color: #000000;
}